$primary-clr: #546de5;
$primary-clr--light: #778beb;
$accent-clr: #7efff5;
$dark-clr: #333;
$dark-clr--darker: #222;
$mid-grey: #5f5f5f;
$pale-grey: #ecf0f1;
$white: #fff;

$serif: 'Playfair Display', serif;
$sans-serif: 'Open Sans', sans-serif;

$ease: all 0.3s ease;
$ease--slow: all 1s ease;

$break-sm: 500px;
$break-med: 800px;